body {
}

.isActive::before {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #FF8200;
}

.numFormat {
    text-align: right;
}

th.dpass, td.dpass {
    display: none;
}

.inline {
    display: inline;
}

div.head {
    background-color: #6f5499;
    width: 100%;
    height: 80px;
    margin-bottom: 2px;
}

.menufore {
    color: white;
}

span.myspancss {
}

    span.myspancss:hover {
        /*border: 1px solid white;*/
        color: #999933;
    }

.box {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 20%;
}

.mybg {
    background-image: URL(../Images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.head1 {
    background-color: #6699FF;
    width: 100%;
    color: white;
}
